# This is a basic workflow to help you get started with Actions

name: 健康打卡

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch.
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "40 22# 18,22 * * *" # 2:40和6:40

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  bot:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@v1
        - name: 'Set up Python 3.7'
          uses: actions/setup-python@v1
          with:
            python-version: 3.8
        - name: 'Install dependencies'
          run: |
            python -m pip install --upgrade pip
            pip install setuptools requests fake_useragent
        - name: 'jkdk'
          env:
              username: ${{secrets.id}}
              password: ${{secrets.pwd}}
              mail_user: ${{secrets.MAIL_USER}}
              mail_pass: ${{secrets.MAIL_PWD}}
              receivers: ${{secrets.MAIL_TO}}
          run: python main.py
